
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: rgb(83, 4, 73);
    text-align: center;
}

div img {
    width: 620px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#on, #off {
    font-size: 25px;
    color: white;
    padding: 5px 15px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

#on:hover , #off:hover {
    transition: .7s;
    transform: scale(1.07);
    background-color: rgb(76, 15, 134);
    border-radius: 5px;
    cursor: pointer;
}

#on:active , #off:active {
    transition: .7s;
    transform: scale(1.07);
    background-color: rgb(76, 15, 134);
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 992px) {


    div img {
        width: 300px;
        border-radius: 20px;
        box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    
}